/* Contenedor de comentarios */
.comentarios-section {
    position: relative;
    max-width: 2000px; /* Ajusta según tu diseño */
    margin: 0 auto; /* Centra el contenedor */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    color: #ffffff;
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    max-height: 500px; /* Define un límite de altura */
    border-radius: 8px
    margin-bottom: 0px; /* Espacio arriba del footer */
}

/* Estilo de cada comentario */
.comentarios-section p {
    margin: 10px 12px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0); /* Línea divisoria */
}

/* Añadir animación para comentarios recientes */
.comentarios-section p.nuevo-comentario {
    animation: desvanecer 1s ease-out;
}

/* Animación de desvanecimiento */
@keyframes desvanecer {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Coloca el contenedor justo encima del footer */
footer {
    margin-top: 0px;
}
